{{#files}}
	<div class="fido-row"><img src="{{poster}}" class="poster"/> <strong>{{friendlyName}}</strong> | {{fName}}</div>
	<div class="fido-row"><span class="label">Raiting: {{raiting}} | Runtime: {{runtime}}</span></div>
	<div class="fido-row"><button class="btn btn-primary">Play</button></div>
	{{description}}
	<hr/>
{{/files}}
</div>