{{#files}}
<a href="#" class="list-group-item"><span class="label label-info">{{size}} {{resolution}} | Q: {{quality}} | {{duration}} </span><p>From: {{source}}</p><p>To: {{target}}</p></a>
{{/files}}