{{#titles}}
<div class="the-movie-db" data-id="{{id}}">
	<h4>{{name}}</h4>
	<span class="small">{{release_date}}</span><br/>
	<img class="poster-temp" data-src="{{poster_path}}"/><br/>
	<button class="btn btn-default use-movie">Use</button>
	<hr/>
</div>
{{/titles}}