<!doctype html>
<html>
<head>
	<link href="css/style.css" rel="stylesheet"/>
	<script src="js/jquery-1.11.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">PAOS</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="settings">Settings</a></li>
    </ul>
  </div>
</div>
<div class="container">
<div class="row">
<div class="span12">
<h1>Settings</h1>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">Source path:</label> <input name="source" type="text" placeholder="Full path"/><br/>
		<label class="control-label">Destination path:</label> <input name="target" type="text" placeholder="Full path"/><br/>
		<label class="control-label">Space (MB)</label> <input name="space" type="number"/>
	</div>
	<button class="cmd-encode btn btn-success"><i class="icon-ok icon-white"></i> Save</button>
</form>
</body>
</html>